html, body {
    height: 100%;
    width: 100%;
    margin: auto;
}

.grid {
    width: 100%;
    margin: auto;
}

.rapper-thumb {
    float: left;
}

.rapper-thumb img {
    width: 100%;
    display: block;
    max-width: 300px;
}

.rapper-thumb div.name-container {
    text-align: center;
    display: block;
}