html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid {
    width: 100%;
    margin: auto;
}

.rapper-thumb {
    float: left;
    width: 25%
}

.rapper-thumb img {
    width: 100%;
}

.rapper-thumb div.name-container {
    text-align: center;
}